* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #476098;
    font-weight: bold;
    font-size: 1em;
}
.container {
    background-color:#F18F43;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ----------------HEAD------------------- */
.head {
    background-color: #f3ec78;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-bottom: 0.5em;
}
.options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.head button {
    font-family: 'Righteous', cursive;
    padding: 0.7em;
    margin: 0.3em;
    font-size: 0.6em;
    font-weight: 400;
    background-color: #A7489B;
    color:rgb(229, 245, 245);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #8f8b46;
}
.title {
    font-family: 'Palette Mosaic', cursive;
    /* font-size: 120 64 40 32 24*/
    font-size: 40px;
}
.gradient-text {
    
    background: #CA4246;
    background-color: #CA4246;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
    background: conic-gradient(
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size: 30%;
    background-repeat: repeat;
    text-shadow: 2px cornsilk;
}
/* ----------------GAME SECTION------------------- */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 74.5vh; 
}
.score h3 {
    font-family: 'Righteous', cursive;
    color: #476098;
    font-size: 1.2em;
    padding: 0.2em;
}
.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
}
.deckTitle {
    text-align: center;
    font-size: 1em;
    width: 40%;
    margin: 0.5em 0em 1em 0em;
}
.card {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15%;
    box-shadow: 15px 15px 53px #925627;
    width: 350px;
    height: 350px;
    grid-gap: 20px;
    padding: 40px;
}
.deck div div {
    font-family: "Comic Sans MS";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    font-size: 1em;
    
}
.deck div div:nth-child(1) {
    color: #A7489B;
    transform: rotate(-20deg);
}
.deck div div:nth-child(2) {
    color: #9aad58;
    transform: rotate(10deg);
}
.deck div div:nth-child(3) {
    color: #CA4246;
    transform: rotate(20deg);
}
.deck div div:nth-child(4) {
    color: #F18F43;
    /* transform: rotate(15deg) translateX(70%) translateY(-20%); */
    transform: rotate(5deg) translateX(60%) translateY(-10%);
}
.deck div div:nth-child(5) {
    z-index: 0;
}
.deck div div:nth-child(6) {
    color: #a7cf24;
    /* transform: rotate(-15deg) translateX(-70%) translateY(-20%); */
    transform: rotate(-5deg) translateX(-50%) translateY(-10%);
}
.deck div div:nth-child(7) {
    color: #476098;
    transform: rotate(20deg);
}
.deck div div:nth-child(8) {
    color: #E16541;
    transform: rotate(-15deg);
}
.deck div div:nth-child(9) {
    color: #A7489B;
    transform: rotate(15deg);
}
.deck img {
    object-fit: contain;
    width: 60px;
    height: 60px;
}
div.card div.smaller {
    /* font-size: 0.9em; */
}
div.card div.smaller img{
    /* width: 20px; */
    /* height: 20px; */
}
.matched {
    animation: myRotate 1s ;
}
.wonCard {
    position: relative;
    animation: myTranslate 1s ;
}
  
@keyframes myRotate {
    0% {
      transform: rotate(0) scale(1.5, 1.5);
    }
    100% {
      transform: rotate(360deg) scale(1, 1);
    }
  }
@keyframes myTranslate {
    100% {
        transform: translateY(-110%);
    }
}
 
.credits {
    font-size: 0.5em;
    margin: 3em 2em 2em 2em;
}
.hidden {
    display: none !important;
}
/* ------------WORD LIST---------------- */

#wordListTable .modal-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95%;
    padding: 2em;
}
#wordListTable div {
    font-family: "Comic Sans MS";
    color:rgb(1, 70, 70);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1em;
}
#wordListTable div div{
    width: 70px;
    margin: 0.5em 1em;
}
#wordListTable img {
    object-fit: contain;
    width: 70px;
    height: 70px;
}

/* --------Instructions Page----------- */



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px; 
    font-size: 1em;
    line-height: 1.6;
    border: 20px solid #888;
    border-radius: 15px;
}
.modal-content h2, .modal-content h3, .modal-content h4, .modal-content p{
    padding: 0.5em 0em;
}
#modalHelp p {
    color: rgb(109, 109, 109);
}
/* Modal Content/Box */
.modal-contentDeck {
    border: 20px solid #888;
    border-radius: 10%;
    min-height: 50%;
}
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #modalGameOver .buttons{
    width: 100%;  
    display: flex;
    justify-content: right;
    padding: 0.5em;
  }
  #modalGameOver .buttons button{
    color: #263b68;
    font-size: 16px;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(197, 197, 197);
  }
  #btnContinuePlaying{
      background-color: orange;
  }
  #btnCancelPlaying{
    background-color: gainsboro;
}
#playerPointsModalGameOver{
    padding-left: 1em;
}
.head #buttonsChoseDeck button{
    width: 100%;
    font-size: 1em;
}
.vertical{
    display: block;
}
.horizontal{
    display: none;
}
/* --------------MEDIA------------------ */
/* --------------MEDIA------------------ */

/* if it is wider than high, it will show both cards in the same row */
@media (min-aspect-ratio: 1/1) {
    .table {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card {
        margin: 20px;
    }
    @keyframes myTranslate {
        100% {
            transform: translateX(-110%);
        }
    }
    .vertical{
        display: none;
    }
    .horizontal{
        display: block;
    }
    .head {
        flex-direction: row;
    }
    .options {
        width: 30%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (min-width: 500px) and (min-height: 600px) {
    .title {
        font-size: 64px;
    }
    .score h3 {
        font-size: 1.3em;
    }
    .deck {
        width: 95%;
    }
    .deck div div {
        font-size: 1.2em;
    }
    #wordListTable div {
        font-size: 1.1em;
    }
    #wordListTable div div{
        width: 90px;
        margin: 1em 1.2em;
    }
    #wordListTable img {
        width: 90px;
        height: 90px;
    }
    .modal-content {
        font-size: 1.3em;
        padding: 50px;
    }
    #modalWordList .modal-content {
        font-size: 1.1em;
        padding: 1em;
    }
    .modal-content #wordListTable{
        width: 100%;
        padding: 0.5em;
    }
    #modalGameOver .buttons button{
        font-size: 24px;
      }

}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .title {
        font-size: 64px;
    }
    .head button  {
        font-size: 1em;
    }
    .deck div div {
        font-size: 1.3em;
    }
    #wordListTable div {
        font-size: 1.1em;
    }
    #wordListTable div div{
        width: 120px;
        margin: 1em 2em;
    }
    #wordListTable img {
        width: 120px;
        height: 120px;
    }
    #instructions h3, #instructions h4{
        font-size: 1.4em;
    }
    #instructions p {
        font-size: 1.1em;
    }
  }
@media only screen and (min-width: 1000px) and (min-height: 600px) {
    .title {
        font-size: 100px;
    }
    .score h3 {
        font-size: 1.7em;
    }
    .card {
        width: 430px;
        height: 430px;
        margin: 20px;
    }
    .deck div div {
        width: 80px;
        font-size: 1.4em;
    }
    .deck img {
        width: 80px;
        height: 80px;
    }
    .credits {
        font-size: 0.9em;
    }
    #instructions h3, #instructions h4{
        font-size: 1.5em;
    }
    #instructions p {
        font-size: 1.2em;
    }

}
@media only screen and (min-width: 2300px) and (min-height: 600px){

    .head button {
        font-size: 1.2em;
    }
    #game {
        padding-top: 3em;
    }
    #table {
        padding-top: 2em;
    }
    .card {
        width: 470px;
        height: 470px;
        margin: 30px;
    }
    .deck div div {
        font-size: 1.8em;
        width: 100px;
    }
    .deck img {
        width: 100px;
        height: 100px;
    }
    div.card div.smaller {
        font-size: 1.3em;
    }
    div.card div.smaller img{
        width: 60px;
        height: 60px;
    }
    .credits {
        font-size: 1.2em;
    }
    #wordListTable div div{
        margin: 1em 3em;
    }
  }
  @media only screen and (min-width: 2300px) and (min-height: 800px){
    .title {
        font-size: 120px;
    }
  }
  @media only screen and (max-width: 750px) and (max-height: 750px){
    .card {
        width: 280px;
        height: 280px;
        margin: 10px;
    }
    .deck div div {
        font-size: 0.9em;
        width: 60px;
    }
    .deck img {
        width: 60px;
        height: 60px;
    }
    /* div.card div.smaller {
        font-size: 0.6em;
    }
    div.card div.smaller img{
        width: 10px;
        height: 10px;
    } */

  }

  @media only screen and (max-width: 600px) and (max-height: 600px){
    .card {
        width: 240px;
        height: 240px;
        margin: 10px;
    }
    .deck div div {
        font-size: 0.8em;
        width: 40px;
    }
    .deck img {
        width: 40px;
        height: 40px;
    }
    div.card div.smaller {
        font-size: 0.6em;
    }
    div.card div.smaller img{
        width: 10px;
        height: 10px;
    }

  }
  



