* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #476098;
    font-weight: bold;
    font-size: 1em;
}
.container {
    background-color:#F18F43;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ----------------HEAD------------------- */
.head {
    background-color: #f3ec78;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-bottom: 0.5em;
}
.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.head button {
    font-family: 'Righteous', cursive;
    width: 100%;
    padding: 0.7em;
    margin: 0.5em;
    font-size: 0.7em;
    font-weight: 400;
    background-color: #A7489B;
    color:rgb(229, 245, 245);
    border-radius: 50%;
    box-shadow: 5px 5px 10px #8f8b46;
}
.title {
    font-family: 'Palette Mosaic', cursive;
    /* font-size: 120 64 40 32 24*/
    font-size: 24px;
}
.gradient-text {
    
    background: #CA4246;
    background-color: #CA4246;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
    background: conic-gradient(
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size: 30%;
    background-repeat: repeat;
    text-shadow: 2px cornsilk;
}
/* ----------------GAME SECTION------------------- */
#game {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    /* width: 100%; */
    min-height: 75vh; 
}
.score h3 {
    font-family: 'Righteous', cursive;
    color: #476098;
    font-size: 1.2em;
    padding: 0.2em;
}
.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2px;
}
.deckTitle {
    text-align: center;
    font-size: 1em;
    width: 40%;
    margin: 0.5em 0em 1em 0em;
}
.card {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15%;
    box-shadow: 15px 15px 53px #925627;
    width: 90%;
    height: 45vh;
    padding: 2em;
}
.deck div div {
    font-family: "Comic Sans MS";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 33%;
    font-size: 1em;
}
.deck div div:nth-child(1) {
    color: #A7489B;
    transform: rotate(-25deg);
}
.deck div div:nth-child(2) {
    color: #9aad58;
    transform: rotate(10deg);
}
.deck div div:nth-child(3) {
    color: #CA4246;
    transform: rotate(40deg);
}
.deck div div:nth-child(4) {
    color: #F18F43;
    transform: rotate(15deg) translateX(40%);
}
.deck div div:nth-child(6) {
    color: #a7cf24;
    transform: rotate(-15deg) translateX(-40%);
}
.deck div div:nth-child(7) {
    color: #476098;
    transform: rotate(35deg);
}
.deck div div:nth-child(8) {
    color: #E16541;
    transform: rotate(-15deg);
}
.deck div div:nth-child(9) {
    color: #A7489B;
    transform: rotate(25deg);
}
/* .correct{
    color: green;
}
.incorrect{
    color: red;
} */
.deck img {
    object-fit: contain;
    width: 60px;
    height: 60px;
}
div.card div.smaller {
    font-size: 0.9em;
}
div.card div.smaller img{
    width: 30px;
    height: 30px;
}
.matched {
    animation: myRotate 1s ;
}
.wonCard {
    position: relative;
    animation: myTranslate 1s ;
}
  
@keyframes myRotate {
    0% {
      transform: rotate(0) scale(1.5, 1.5);
    }
    100% {
      transform: rotate(360deg) scale(1, 1);
    }
  }
@keyframes myTranslate {
    100% {
        transform: translateY(-110%);
    }
}
 
.credits {
    font-size: 0.5em;
    margin: 3em 2em 2em 2em;
}
.hidden {
    display: none !important;
}
/* ------------WORD LIST---------------- */
#wordList {
    display: flex;
    justify-content: center;
}
#wordListTable {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 95%;
    padding: 2em;
}
#wordListTable div {
    font-family: "Comic Sans MS";
    color:rgb(1, 70, 70);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1em;
}
#wordListTable div div{
    width: 70px;
    margin: 0.5em 1em;
}
#wordListTable img {
    object-fit: contain;
    width: 70px;
    height: 70px;
}

/* --------Instructions Page----------- */
#instructions {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 96vh;
    font-size: 1.2em;
    padding: 2em;
    margin: 1em;
}
#instructions h2 {
    /* margin-top: 3em; */
    margin-bottom: 2em;
}
#instructions h3 {
    margin-top: 2em;
}
#instructions h3, #instructions h4, #instructions h5 {
    margin-bottom: 1.4em;
}

/* --------------MEDIA------------------ */
/* --------------MEDIA------------------ */

@media (min-aspect-ratio: 1/1) {
    .table {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @keyframes myTranslate {
        100% {
            transform: translateX(-110%);
        }
    }
}

@media only screen and (min-width: 500px) {
    .title {
        font-size: 32px;
    }
    .score h3 {
        font-size: 1.3em;
    }
    .deck {
        width: 95%;
    }
    .deck div div {
        font-size: 1.4em;
    }
    .deck img {
        width: 90px;
        height: 90px;
    }
    #wordListTable div {
        font-size: 1.1em;
    }
    #wordListTable div div{
        width: 90px;
        margin: 1em 1.2em;
    }
    #wordListTable img {
        width: 90px;
        height: 90px;
    }

}

@media only screen and (min-width: 600px) {
    .title {
        font-size: 40px;
    }
    .head button  {
        font-size: 1em;
    }
    .deck {
        width: 85%;
    }
    .deck div div {
        font-size: 1.5em;
    }
    div.card div.smaller {
        font-size: 1.1em;
    }
    div.card div.smaller img{
        width: 50px;
        height: 50px;
    }
    #wordListTable div {
        font-size: 1.2em;
    }
    #wordListTable div div{
        width: 120px;
        margin: 1em 2em;
    }
    #wordListTable img {
        width: 120px;
        height: 120px;
    }
  }
@media only screen and (min-width: 1000px) {
    .title {
        font-size: 64px;
    }
    .score h3 {
        font-size: 1.7em;
    }
    .deck {
        width: 70%;
    }
    .deck img {
        width: 100px;
        height: 100px;
    }
    .deck div div {
        margin: 0.5px;
        font-size: 1.7em;
    }
    .credits {
        font-size: 0.9em;
    }
    #instructions {
        font-size: 1.5em;
    }

}
@media only screen and (min-width: 2300px) {
    .title {
        font-size: 120px;
    }
    .head button {
        font-size: 1.2em;
    }
    #game {
        padding-top: 3em;
    }
    #table {
        padding-top: 2em;
    }
    .card {
        width: 80%;
        height: 50vh;
        padding: 2em;
    }
    .deck div div {
        font-size: 2em;
    }
    .deck img {
        width: 120px;
        height: 120px;
    }
    div.card div.smaller {
        font-size: 1.3em;
    }
    div.card div.smaller img{
        width: 60px;
        height: 60px;
    }
    @keyframes myTranslate {
        100% {
            transform: translateX(-125%);
        }
    }
    .credits {
        font-size: 1.2em;
    }
    #wordListTable div div{
        margin: 1em 3em;
    }

  }

  



