*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #476098;
    font-weight: bold;
}
.container{
    background-color:#F18F43;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.head{
    background-color: #f3ec78;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}
.score h3{
    padding: 0.3em;
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    color: #476098;
}
button{
    font-family: 'Righteous', cursive;
    padding: 0.7em;
    margin-top: 2em;
    font-size: x-large;
    font-weight: 600;
    background-color: #A7489B;
    color:rgb(229, 245, 245);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(1, 88, 88,.5);
}
.title{
    font-family: 'Palette Mosaic', cursive;
    /* font-size: 64px; 40 32 24*/
    font-size: 120px;
}
.gradient-text {

    background: #CA4246;
    background-color: #CA4246;
    background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
    background: conic-gradient(
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-size: 30%;
        background-repeat: repeat;
        text-shadow: 2px cornsilk;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.options button{
    padding: 0.7em;
    margin: 0.5em;
    width: 100%;
    font-size: x-large;
    font-weight: 600;
    background-color: #A7489B;
    color:rgb(229, 245, 245);
}
#game {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75vh; 
}
.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.deckTitle{
    width: 40%;
    text-align: center;
    font-size: large;
}
.card {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 60vh;
    padding: 4em;
    margin: 2em 2em 2em 2em;
    border-radius: 15%;
    box-shadow: 15px 15px 53px #925627;
}
.deck div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex: 30%;
    width: 140px;
    height: 140px;
    margin: 3px;
    font-size: xx-large;
    font-family: "Comic Sans MS";
    /* font-weight: 800; */
}
.deck div div:nth-child(1) {
    color: blueviolet;
    transform: rotate(-25deg);
}
.deck div div:nth-child(2) {
    color: green;
    transform: rotate(10deg);
}
.deck div div:nth-child(3) {
    color: red;
    transform: rotate(40deg);
}
.deck div div:nth-child(4) {
    color: orange;
    transform: rotate(15deg) translateX(40%);
}
.deck div div:nth-child(6) {
    color: yellowgreen;
    transform: rotate(-15deg) translateX(-40%);
}
.deck div div:nth-child(7) {
    color: blue;
    transform: rotate(35deg);
}
.deck div div:nth-child(8) {
    color: rgb(255, 0, 106);
    transform: rotate(-15deg);
}
.deck div div:nth-child(9) {
    color: rgb(0, 179, 255);
    transform: rotate(25deg);
}
/* .correct{
    color: green;
    font-size: xx-large;
}
.incorrect{
    color: red;
    font-size: xx-large;
} */
img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}
/* .smaller{
    font-size: xx-small;
}
.smaller img{
    width: 100px;
    height: 100px;
} */
.matched {
    animation: myRotate 1s ;
}
.wonCard {
    position: relative;
    animation: myTranslate 1s ;
}
  
@keyframes myRotate {
    0% {
      transform: rotate(0) scale(1.5, 1.5);
    }
    100% {
      transform: rotate(360deg) scale(1, 1);
    }
  }
@keyframes myTranslate {
    100% {
        transform: translateX(-125%);
    }
}
 
.credits{
    font-size: small;
    margin-top: 3em;
}
.hidden{
    display: none !important;
}
#wordList{
    display: flex;
    justify-content: center;
}
#wordListTable{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 60%;
    padding: 3em 2em 2em 5em;
}
#wordListTable div{
    font-family: "Comic Sans MS";
    font-size: x-large;
    color:rgb(1, 70, 70);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5em;
}
@media only screen and (max-width: 2300px) {
    .title{
        font-size: 64px;
    }
    .deckTitle{
        width: 90%;
    }
    .card {
        width: 90%;
        padding: 1em;
        margin: 1em 1em 1em 1em;
    }
    .deck div div {
        width: 30%;
        height: 30%;
        margin: 1px;
        font-size: x-large;
    }
    img{
        width: 100px;
        height: 100px;
    }
    @keyframes myTranslate {
        100% {
            transform: translateX(-110%);
        }
    }
  }

  @media only screen and (max-width: 1000px) {
    .title{
        font-size: 40px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    .deck div div {
        margin: 0.5px;
        font-size: medium;
    }
    #wordListTable{
        width: 80%;
    }
  }
  @media only screen and (max-width: 600px) {
    .title{
        font-size: 32px;
    }
    .head{
        font-size: small;
    }
    .options button{
        font-size: small;
        padding: 0.2em;
        margin: 0.2em;
    }
    .deck div div {
        font-size: small;
    }
    #wordListTable{
        width: 90%;
    }
    .options button{
        font-size: medium;
        font-weight: 400;
        padding: 0.5em;
    }
    button{
        font-size: medium;
        font-weight: 400;
        padding: 0.5em;
    }
  }
  @media only screen and (max-width: 500px) {
    .title{
        font-size: 24px;
    }
    .deck div div {
        font-size: x-small;
    }
    img{
        width: 30px;
        height: 30px;
    }
    #wordListTable{
        padding: 2em 2em 2em 2em;
    }
  }


/* --------Instructions Page----------- */
#instructions{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 96vh;
    font-size: x-large;
    padding: 4em;
    margin: 2em;
}
.instructions h2{
    padding-top: 3em;
    padding-bottom: 3em;
}
.instructions h3{
    padding-top: 4em;
}
.instructions h3, .instructions h4, .instructions h5{
    padding-bottom: 2em;
}